
.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display: inline;
}

#image{
    width:200px;
    height:100px;
}

.checked {
    color: orange;
}

.jumbotron{
    background-color: #e0e1e2;    
}

.navbar{
   background-color: #e0e1e2; 
   font-family: Comic Sans MS ;
}
